<<style>
:root {
    --theme: #ffffff;
    --entry: #f8f8f8;
    --primary: #000000;
    --secondary: #f15a24;
    --tertiary: #e0e0e0;
    --content: #333333;
    --border: #eaeaea;
}
.dark {
    --theme: #1d1e20;
    --entry: #2e2e33;
    --primary: #dadadb;
    --secondary: #f15a24;
    --tertiary: #41444a;
    --content: #c4c4c5;
    --border: #333;
}
a { color: var(--secondary); }
a:hover { color: var(--primary); }
.logo a:hover { color: var(--secondary); }
.post-title a:hover { color: var(--secondary); }
</style>